body {
    background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
    color: white;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cross {
    position: fixed;
    padding-right: 10px;
    transition: all 0.8s;
}

.introduction{
    text-align: center;
}

/*.param{
    width: 0;
    height: 0;
    font-size: 0;
    transition: all 0.8s;
}*/

.cross {
    transform-origin: 50% 50%;
    animation-name: rotation;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.param{
    transform-origin: 0 0;
    animation-name: animation;
    animation-duration: 0.8s;
    animation-fill-mode: both;

}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }


    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);

    }
}


@keyframes animation {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}